
*.xlsx
*.exe
*.exe
*.exe
2020/Nim/bench.exe
2020/Nim/day1.exe
2020/Nim/day5.exe
2021/Nim/session
*.in
*.pyc
2021/Nim/inputs/new 1.py
2021/Nim/temp.nim
2021/Nim/day5alt.nim
2021/Nim/fast10b.nim
2021/misc/day5part3b.input
2021/misc/day5part3.nim
2021/Nim/fast10.nim
2021/Nim/inputs/temp.nim
2021/Nim/day15copy.nim
2021/Nim/day17fast.nim
2021/Nim/day21part3.nim
2021/Nim/day24alt.nim
2022/Nim/session
